<div class="sidebarblock">
    <h3>Following</h3>
    <div class="divline"></div>
    <div class="blocktxt">
        <a href="#">This Dock Turns Your iPhone Into a Bedside Lamp</a>
    </div>

</div>