@model LoginVM

@{
    ViewData["Title"] = "Log in";
    Layout = "_NoLoginLayout";
}


<!-- MAIN -->
<main class="signup__main">
    <div class="container">
        <div class="signup__container">
            <div class="signup__logo">
                <a href="#"><img src="~/fonts/icons/main/Logo_Forum.svg" alt="logo">Forum</a>
            </div>
            <div class="signup__head">
                <h3>Login to your Forum Account</h3>
            </div>
            <div class="signup__form">
                <form asp-action="Login" asp-controller="Account" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                    <div class="signup__section">
                        <label class="signup__label" asp-for="UsernameEmail"></label>
                        <input type="text" class="form-control" asp-for="UsernameEmail" id="email">
                        <span asp-validation-for="UsernameEmail" class="text-danger"></span>
                    </div>
                    <div class="signup__section">
                        <label class="signup__label" asp-for="Password"></label>
                        <div class="message-input">
                            <input type="password" asp-for="Password" class="form-control" id="password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <!--  <span class="message-input__strong">strong</span> -->
                        </div>
                    </div>

                    <div class="signup__checkbox">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="signup__box">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" asp-for="RememberMe" checked="checked">
                                        <i></i>
                                    </label>
                                    <span>Remember me?</span>
                                </label>
                            </div>

                        </div>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <button type="submit" class="signup__btn-create btn btn--type-02">Login</button>
                    <p>
                        Forgot your password?
                        <a asp-action="ForgotPassword" asp-controller="Account" class=" btn-link">Click here to Reset</a>

                        or

                        <a asp-action="JoinForum" asp-controller="Account" class="btn-link">Click here to Join</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
