@model ResetPasswordVM

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_NoLoginLayout";
}

<!-- HEADER -->

<!-- MAIN -->
<main class="signup__main">
    <img class="signup__bg" src="~/images/signup-bg.png" alt="bg">

    <div class="container">
        <div class="signup__container">
            <div class="signup__logo">
                <a href="#"><img src="~/fonts/icons/main/Logo_Forum.svg" alt="logo">Forum</a>
            </div>

            <div class="signup__head">
                <h3> Reset your Password </h3>
            </div>
            <div class="signup__form">
                <form asp-action="ResetPassword" asp-controller="Account" method="post">

                        <input type="hidden" class="form-control" asp-for="Email" id="email">
                        <input type="hidden" class="form-control" asp-for="ResetCode" id="resetCode">
                
                    <div class="signup__section">
                        <label class="signup__label" asp-for="NewPassword"></label>
                        <div class="message-input">
                            <input type="password" asp-for="NewPassword" class="form-control" id="password">
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                            <!--  <span class="message-input__strong">strong</span> -->
                        </div>
                    </div>
                    <div class="signup__section">
                        <label class="signup__label" asp-for="ConfirmNewPassword"></label>
                        <div class="message-input">
                            <input type="password" asp-for="ConfirmNewPassword" class="form-control" id="confirmpassword">
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                            <!--  <span class="message-input__strong">strong</span> -->
                        </div>
                    </div>


                    <div asp-validation-summary="All" class="text-danger"></div>

                    <button type="submit" class="signup__btn-create btn btn--type-02">Change Password</button>

                </form>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
