@model List<ChannelVM>
@inject LoadStaticContent  _staticData;

<div class="nav">
    <div class="nav__categories js-dropdown col-md-6 col-lg-6 col-xs-6">
        <div class="nav__select col-md-6 col-lg-6 col-xs-6">
            <div class="btn-select" data-dropdown-btn="categories">All Channels</div>
            <nav class="dropdown dropdown--design-01" data-dropdown-list="categories">
                <ul class="dropdown__catalog row">
                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <li class="col-xs-6"><a asp-action="ChannelThreads" asp-controller="Channels" asp-route-channel="@item.Name" class="category"><i class="bg-f9bc64"></i>@item.Name</a></li>
                        }
                    }
                    else
                    {
                        <li><span>No Channels</span></li>
                    }
                </ul>
            </nav>
        </div>
          <div class="nav__select col-md-6 col-lg-6 col-xs-6">
            <div class="btn-select" data-dropdown-btn="tags">Tags</div>
            <div class="dropdown dropdown--design-01" data-dropdown-list="tags">
                <div class="tags">
                    @{ List<Tags> tags = _staticData.LoadTags(); }
                    @if (tags.Count() > 0)
                    {
                        @foreach (var item in tags)
                        {
                            <a href="#" class="@item.ColourCode">@item.Text</a>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="nav__menu js-dropdown col-md-5 col-lg-5 col-xs-5">
        <ul>
            <li id="fp"><a asp-controller="Threads" asp-action="Index" asp-route-tag="fp" >FrontPage</a></li>
            <li id="lt"><a asp-controller="Threads" asp-action="Index" asp-route-tag="lt">Latest</a></li>
            <li id="pp"><a asp-controller="Threads" asp-action="Index" asp-route-tag="pp">Popular</a></li>
            <li id="nr"><a asp-controller="Threads" asp-action="Index" asp-route-tag="nr">No Replies</a></li>
        </ul>
    </div>
    
</div>