@model List<ChannelVM>
@inject LoadStaticContent  _staticData;

<div class="nav">
    <div class="nav__categories js-dropdown">
        <div class="nav__select">
            <div class="btn-select" data-dropdown-btn="categories">All Channels</div>
            <nav class="dropdown dropdown--design-01" data-dropdown-list="categories">
                <ul class="dropdown__catalog row">
                    @if (Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            <li class="col-xs-6"><a asp-action="ChannelThreads" asp-controller="Channel" asp-route-channelId="@item.Id" class="category"><i class="bg-f9bc64"></i>@item.Name</a></li>
                        }
                    }
                    else
                    {
                        <li><span>No Channels</span></li>
                    }
                </ul>
            </nav>
        </div>
        <div class="nav__select">
            <div class="btn-select" data-dropdown-btn="tags">Tags</div>
            <div class="dropdown dropdown--design-01" data-dropdown-list="tags">
                <div class="tags">
                    @{ List<Tags> tags = _staticData.LoadTags(); }
                    @if (tags.Count() > 0)
                    {
                        @foreach (var item in tags)
                        {
                            <a href="#" class="@item.ColourCode">@item.Text</a>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="nav__menu js-dropdown">
        <ul>
            <li class="active"><a href="#">FrontPage</a></li>
            <li><a href="#">Latest</a></li>
            <li><a href="#">Popular</a></li>
            <li><a href="#">Unanswered</a></li>
        </ul>
    </div>
    
</div>