<div class="sidebarblock">
    <h3>Channels </h3>
    <div class="divline"></div>
    <div class="blocktxt">
        <ul class="cats">
            <li><a href="#">Trading for Money <span class="badge pull-right">20</span></a></li>
            <li><a href="#">Vault Keys Giveway <span class="badge pull-right">10</span></a></li>
        </ul>
    </div>
</div>