@model ChannelThreads
@{
    ViewData["Title"] = Model.Channel.Name;
    ViewData["ReturnUrl"] = "Channels/ChannelThreads";
}

<div class="row">
    <div class="posts col-lg-8 col-md-8">

        <p>
            <a asp-action="Index" asp-controller="Home">Home</a> >
            @Model.Channel.Name
        </p>
        <p>No of Threads: @Model.Channel.Categories.Sum(a => a.ThreadCount)</p>
        <p>
            Click <a asp-action="CreateThread" asp-controller="Threads" asp-route-channelId="@Model.Channel.Id">
                here
            </a> to add a post in this channel
        </p>

        @if (Model.Threads.Count() > 0)
        {
            <partial name="_ThreadsList" model="Model.Threads" />
        }
        else
        {
            <p>
                There are no posts to display.
                Click <a asp-action="CreateThread" asp-controller="Threads" asp-route-channelId="@Model.Channel.Id">
                    here
                </a> to add a post in this channel
            </p>
        }
    </div>

    <div class="col-lg-4 col-md-4">

        <!-- Categories-->
        <partial name="_ThreadsCategory" model="Model.Channel.Categories" />

        <!--  most comments-->
        <partial name="_ThreadsMostComment" model="Model.Threads" />


        <!-- user posts-->
        <partial name="_ThreadsUser" model="Model.Threads", view-data="ViewData" />
       
    </div>
</div>