@model SaveThreadVM
@inject LoadDynamicContent _dynamicData;
@{
    ViewData["Title"] = "Create Topic";
}

<link href="~/vendor/summernote/summernote-lite.css" rel="stylesheet" />

<div class="row">
    <div class="create col-lg-8 col-md-8">
        <div class="create__head">
            <div class="create__title"><img src="~/fonts/icons/main/New_Topic.svg" alt="New topic">Create New Thread</div>
            <span>Forum Guidelines</span>
        </div>
        <div class="create__section">
            <label class="create__label" for="title">Thread Title</label>
            <input type="text" class="form-control" asp-for="Title" id="title" placeholder="Add here">
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="create__section">
                    <label class="create__label" for="channel">Select Channel</label>
                    <label class="custom-select">
                        <select asp-for="ChannelId" id="channel">
                            <option>Choose</option>
                            @foreach (var item in _dynamicData.GetChannels())
                            {
                                <option value="@item.Id">@item.Name</option>
                            }

                        </select>
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="create__section">
                    <label class="create__label" for="category">Select Category</label>
                    <label class="custom-select">
                        <select id="category">
                            <option>Choose</option>
                            @*  @foreach (var item in _dynamicData.GetCategories())
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            *@
                        </select>
                    </label>
                </div>
            </div>
        </div>
        <div class="create__section create__textarea">
            <label class="create__label" for="content">Content</label>

            <textarea class="summernote" asp-for="Content" id="content">

                </textarea>
        </div>

        <div class="create__section">
            <label class="create__label" for="tags">Add Tags</label>
            <input type="text" class="form-control" id="tags" placeholder="e.g. nature, science">
        </div>
        <div class="create__advanced">
            <div class="row">

            </div>
        </div>
        <div class="create__footer">
            <a href="#" class="create__btn-cansel btn">Cancel</a>
            <a href="#" class="create__btn-create btn btn--type-02">Create Thread</a>
        </div>
    </div>


    <div class="col-lg-4 col-md-4">

        <!-- -->
        @await Component.InvokeAsync("ChannelCount")

        <!-- -->
        @await Component.InvokeAsync("ThreadsFollowing")

        <!-- -->
        @await Component.InvokeAsync("FeaturedPoll")

    </div>
</div>

@section Scripts {

    <script src="~/vendor/summernote/summernote-lite.js"></script>

    <script>let summernoteToolbar = [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'strikethrough', 'italic', 'clear', 'superscript', 'subscript', 'fontsize', 'fontname']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']], //'height', 'style'
            ['insert', ['link', 'picture', 'table']],  //'video', 'hr'
            ['view', ['fullscreen']] //, 'codeview', 'help', 'undo', 'redo'
        ];

        $(document).ready(function () {
            //$('form').each(function () {
            //    if ($(this).data('validator'))
            //        $(this).data('validator').settings.ignore = ".note-editor *";
            //});

            //$('#content').summernote('code');
            //$('#content').summernote('code', '');
            //$('#content').summernote('code', data);

            $('#content').summernote({
                placeholder: 'Content',
                height: 300,
                toolbar: summernoteToolbar
            });
        });</script>
}


