@model List<ThreadVM>
@{
    ViewData["Title"] = "Threads";
    ViewData["ReturnUrl"] = "Threads/Index";
}

<div class="row">
    <div class="posts col-lg-8 col-md-8">

        <p> <a asp-action="Index" asp-controller="Home">Home</a> > Threads </p>

        @if (Model.Count() > 0) {           
            <partial name="_ThreadsList" model="Model" />
        }
        else {
        <p>
            There are no posts to display.
            Click <a asp-action="CreateThread" asp-controller="Threads">
                here
            </a> to add a new post
        </p>
        }
    </div>

    <div class="col-lg-4 col-md-4">

        <!--  most comments-->
        <partial name="_ThreadsMostComment" model="Model" />

        <!-- user posts-->
        <partial name="_ThreadsUser" model="Model", view-data="ViewData" />

        @await Component.InvokeAsync("ThreadsFollowing")

    </div>
</div>

@section Scripts {
<script>
    var tag = '@ViewBag.tag';
    
    $(document).ready(function () {
        if (tag != '' || tag != undefined || tag != null) {
            $('#' + tag).addClass('active');
        }        

    });
</script>

}