@model JoinVM

@{
    ViewData["Title"] = "Invite User";
}

    <div class="row">
        <div class="create col-lg-6 col-md-6">
            <div class="create__head">
                <div class="create__title"><span> Invite User</span></div>
            </div>
            <form method="post" asp-action="InviteUser" asp-acontroler="Manage">

                <div class="signup__section">
                    <label class="signup__label" asp-for="Email"></label>
                    <input type="text" class="form-control" asp-for="Email" id="email">
                    <!--  <span asp-validation-for="Email" class="text-danger"></span> -->
                </div>


                <div asp-validation-summary="All" class="text-danger"></div>

                <button type="submit" class="signup__btn-create btn btn--type-02">Invite</button>

            </form>
        </div>


        <div class="col-lg-6 col-md-6">

            <!-- -->
            @await Component.InvokeAsync("ChannelCount")

            <!-- -->
            @await Component.InvokeAsync("ThreadsFollowing")

            <!-- -->
            @await Component.InvokeAsync("FeaturedPoll")

        </div>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
