@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="posts col-lg-8 col-md-8">
       
        <div class="posts__body">
            <!-- pinned posts -->
            @foreach (var item in Model.PinnedPosts)
            {
                <div class="post ">
                    <div class="wrap-ut pull-left">
                        <div class="userinfo pull-left">
                            <div class="avatar">
                                <img src="~/fonts/icons/main/Pinned.svg" alt="Pinned">
                                <div class="status green">&nbsp;</div>
                            </div>
                            <div class="icons">

                            </div>
                        </div>
                        <div class="posttext pull-left">
                            <h2><a asp-controller="Threads" asp-action="Pinned" asp-route-id="@item.Title"> @item.Title </a></h2>
                            <p>@Html.Raw(@item.Content)</p>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="postinfo pull-left">

                    </div>
                    <div class="clearfix"></div>

                </div>

            }

            <!--posts begin here -->
            @if (Model.Threads.Count() > 0)
            {
               <partial name="_ThreadsList" model="Model.Threads" />
            }
            else
            {
                <p>
                    There are no posts to display.
                    Click <a asp-action="CreateThread" asp-controller="Threads">
                        here
                    </a> to add a post in this channel
                </p>
            }
        </div>       
       

    </div>

    <div class="col-lg-4 col-md-4">

        <!-- -->
      @await  Component.InvokeAsync("ChannelCount")

        <!-- -->
        @await  Component.InvokeAsync("ThreadsFollowing")

        <!-- -->
       @await Component.InvokeAsync("FeaturedPoll")

    </div>
</div>